<br>
<br>

<div style=" border-radius: 20px; padding: 20px; width: 800px; margin:auto; box-shadow:5px 5px 5px 5px rgb(9, 42, 102);" >
    <form #empForm=ngForm >
            <table class="table table-striped table table-hover">
                <tr>
                    <td>Your EmailID</td>
                    <td><input type="text" name="id" id="id" placeholder="example@gmail.com" [(ngModel)]="emailid" #idcontrol="ngModel" required/></td>
                    <span *ngIf="idcontrol.touched && idcontrol.invalid">ID should be filled</span>
                </tr>
                <tr>
                        <td>Category</td>
                        <td><input type="text" name="category" id="category" placeholder="admin/merchant/user"  [(ngModel)]="category" #catcontrol="ngModel" required/></td>
                        <span *ngIf="catcontrol.touched && catcontrol.invalid">Category should be filled</span>
                    </tr>
                <tr>
                        <td>Question1.Enter the city in which you were raised</td>
                        <td><input type="text" id="answer1" name="answer1" [(ngModel)]="answer1" #deptcontrol="ngModel" placeholder="ex.Delhi" required/></td>
                        <span *ngIf="deptcontrol.touched && deptcontrol.invalid">Answer should be filled</span>
                    </tr>
                    <tr>
                        <td>Question2.Enter name of your school teacher</td>
                        <td><input type="text" id="answer2" name="answer2" [(ngModel)]="answer2" placeholder="ex.Arora" #ans2control="ngModel" required/></td>
                        <span *ngIf="ans2control.touched && ans2control.invalid">Answer should be filled</span>
                    </tr>  
                    <tr>
                           <td> <input type="submit" class="btn btn-primary" value="Submit" (click)="get();change()" [disabled]="empForm.invalid"/></td>
                           <td><input type="reset" class="btn btn-danger"value="Reset" (click)="fchange()" [disabled]="empForm.invalid"/></td>
                        
                        </tr>
            </table>
    </form>
    </div>
<br><br>
 <div *ngIf="!er && ch && result">
     Dear User {{result.emailid}} your password is {{result.password}}. Thankyou for your time.
 </div>
 <div *ngIf="er">
        The emailid or answer provided by you are not correct.
</div>